<div class="nav-bar">
  <mat-toolbar color="primary" class="toolbar">
    <span routerLink="">SPRINT MANAGEMENT</span>
    <nav ngbNav class="nav-tabs">
      <ng-container ngbNavItem>
        <a class="nav-pills" routerLink="" mat-raised-button color="accent"
          >Home</a
        >
      </ng-container>
      <ng-container ngbNavItem>
        <a
          class="nav-pills"
          routerLink="/addSprint"
          mat-raised-button
          color="accent"
          >Add Sprint</a
        >
      </ng-container>
      <ng-container ngbNavItem>
        <a
          class="nav-pills"
          routerLink="/addMeeting"
          mat-raised-button
          color="accent"
          >Add Meeting</a
        >
      </ng-container>
      <ng-container ngbNavItem>
        <a
          class="nav-pills"
          routerLink="/meetings"
          mat-raised-button
          color="accent"
          >Meetings</a
        >
      </ng-container>
      <ng-container ngbNavItem>
        <a
          class="nav-pills"
          routerLink="/rescheduleMeeting"
          mat-raised-button
          color="accent"
          >Reschedule Meeting</a
        >
      </ng-container>
    </nav>
  </mat-toolbar>
</div>
