h1 {
  text-align: center;
  margin-top: 2%;
  background-color: rgb(51, 166, 254);
  padding: 1%;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 100%;
  border-radius: 30px;
}
.card {
  margin-top: 3%;
  border-radius: 20px;
  background-color: #bbeef7;
}
.field {
  width: 90%;
  margin-left: 4%;
  height: auto;
  color: black;
}

.text-center button {
  margin: 2%;
  display: inline-block;
}

form {
  margin-top: 5%;
}

.form-container {
  width: 50%;
  display: inline-table;
}

.message {
  text-align: center;
  color: red;
}

.progress {
  margin: auto;
  background-color: #bbeef7;
}
