<div id="container">
  <div class="showcase">
    <div class="col-2">
      <img class="showcasepic" src="assets/images/sprint1.png" />
    </div>
    <div class="col-2">
      <div class="feature-text">
        <h1 class="section-title"><b>Sprint Management</b></h1>
        <p class="section-left">
          A timed period during which a Scrum Team works to complete a specific
          volume of workforce.
          <a
            href="https://www.knowledgehut.com/blog/project-management/project-management-sprints"
            target="_blank"
            >Click here to know about Sprint Management</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
